[data-component="tag"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  border-radius: 999px;
  border: 0;
  background: var(--surface-base);
  font-variant-numeric: tabular-nums;
  color: var(--text-base);

  &[data-size="normal"] {
    height: 20px;
    padding: 0 8px;

    /* text-12-medium */
    font-family: var(--font-family-sans);
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-large); /* 166.667% */
    letter-spacing: var(--letter-spacing-normal);
  }

  &[data-size="large"] {
    height: 24px;
    padding: 0 10px;

    /* text-14-medium */
    font-family: var(--font-family-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-large); /* 142.857% */
    letter-spacing: var(--letter-spacing-normal);
  }
}
